.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    background :#fff !important;
    position: sticky;
    width: 100%;
    box-shadow: 0px 3px 5px rgb(177, 176, 176);
    
    z-index: 1;
}
.img img{
    width: 40px;
    height: 40px;
    margin: 0.2em 0.2em;
}
#heading{
    
    font-size: 1em;
    font-weight: 900;
    margin : 0.2em 0.1em; 
}
.navbar{
    margin: auto;
}

.navbar ul li a{
    display: flex;
    align-items: center;
    text-decoration: none;
     color: black;
     padding: 8px 3px;
     font-size: 0.4rem; 
     margin: 0px 3px;  
}
.navicon{
    padding: 0px 2px;
    width: 0.5em;
}
/* First Section */
.banner img{
    /* background: url('../content/background/banner.jpg'); */
    position: relative;
    height: 100%;
    width: 100%;
    z-index: -1;
    
}
.bigtext p{
    position: absolute;
    top: 16em;
    font-size: 15px;
    margin: 1em 1em;
    font-weight: bolder;
    color: #357898;
    z-index: -1;
    
}
.aboutsection{
    padding-top: 5rem;
}
#aboutheading{
    margin-top: 2rem;
    font-size: 1em;
    text-align: center;
}
#aboutpara{
    text-align: center;
    font-size: 0.5em;
    margin: 1.2rem;
}
.boxes{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: auto;
    flex-direction: column;
    
}
.boxes h2{
    font-size: 0.7rem;
    margin: 1em;
    text-align: center;
}
.box{ 
    width: 15em;
    /* border: 2px solid brown; */
    margin: 1rem auto;
 
}
.box img{
    display: block;
    height: 2em;
    margin: auto;
    padding: 5px;
}
.listpoints ul{
    margin: 0.5rem 0.5rem;
    align-items: center;
}
.listpoints ul li{

    font-size: 0.6rem;
    font-weight: 500;
    margin: 0.5rem 0rem;
    text-align: left;
}
/* Service Section */

.servicesection{
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    background-color: #87CEEB!important;
}
.serviceimg img{
    width: 18em;
    border-radius: 0.5em ;
    margin: 1EM;
}
.serviceimg {
    display: flex;    
}
.serviceleft h2{
    text-align: left;
    margin-bottom: 1em;
    font-size: 1rem;
}
.serviceleft ul li{
    text-decoration: none;
    list-style: none;
    font-size: 0.7rem;
    line-height : 2em;
}
/* Team Section */
.sectionteam{
    padding-top: 6em;
}
.sectionteam h1{
    text-align: center;
    font-size: 1rem;
}
.cards{
    display: flex;
    flex-direction: column;
    padding: 1em 1em;
}
.card{
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 2em auto;
    box-shadow: 2px  2px 5px  grey;
}
.Name{
    margin: 0.7em 0.3em;
    font-size: 1.2rem;
    
}

/* Number section */
.numsectionmain{
    padding-top: 2em;
}
.numbersection{
    
    display: flex;
    flex-direction: column;
    background-color: #2196F3;
    width: 100%;
}
.block{
    margin: 1em auto;
    
}

/* Hospitals */
.Hospitalssection{
    padding-top: 6em;
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.Hospitalssection h1{
    font-size: 1rem;
    margin: 0.5em 0em;
    
    
}
.Hospitalssection p{
    font-size: 0.8rem;
    margin: 0.3em 0em;
    
    
}
.hcontainer{
    display: flex;
    flex-direction: column;
    padding: 1em;
    
}
.himage{
   display: flex;
}
.blockm{
    margin: auto;
    display: flex;
    padding: 0em 0em;
    
}

.himage img{

    width: 18em;
    border-radius: 10px;
    margin: auto;
}
.hcontainer ul{
    
    padding: 1em;
}
.hcontainer ul li{
    text-align: left;
    font-size: 0.6em;
    line-height: 2em ;
    font-weight: bold;
}

/* Our Strength */
.strenghtsmain{
    padding-top: 3em;
}
.ourstrength{
    padding: 2em 1em;
    background-color: #87CEEB;
    
}
.ourstrength h1{
    display: block;
    margin: 1em 0em;
    font-size: 1rem;
}
.strengthlist{
    display: flex;
    flex-direction: column;
    
}
.listblock ul li{
    font-size: 0.7rem;
    line-height: 2em;

}
.strlist{
   width: 100%;
}
.listblock{
    width: 90%;
    margin: 0em auto; 
    
}
/* Studies */
.studies{
    padding-top: 6em; 
}
.studiesinfo{
    display: flex;
    flex-direction: column;
}
.listblockcontainer{
    display: flex;
    
}
.stdlist{
    width: 90%;
    margin: 1em auto;
}
.ulblock{
    
    padding: 0em;
    margin: 1em 1em;
    margin-left: 3em;
}
.ulblock li{
    font-size: 0.6rem;
    line-height: 2em;
}
.studies h1{
    margin: 1em 0em;
    text-align: center;
    font-size: 1rem;
}
.studies p{
    margin: 1em 0em;
    font-size: 0.6rem;
    text-align: center;
    
}
.stdimg{
 display: flex;
}
.stdimg img{
    width: 18em;
    margin: 1em auto;
    border-radius: 10px;
}

/* Contact */
.contactsection{
    background-color: #87CEEB ;
    padding-top: 6em;
}
.contactsection h1{
    text-align: center;
    font-size: 1rem;
}
.details{
    
    display: flex;
    align-items: center;
    font-size: 0.5rem;
    margin: 2em 2em;
    
}
.details img{
    width: 0.8em;
    margin: 0em 0.3em;
}