* {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
}
.header {
  background: #fff !important;
  position: sticky;
  width: 100%;
  display: flex;
  box-shadow: 0px 3px 5px rgb(177, 176, 176);
  top: 0px;
  z-index: 1;
}
/* .header::before{
    content: "";
    position: absolute;
    background: url('../content/background/banner.jpg') no-repeat center center/cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0px;
    opacity: 0.9;
    overflow: hidden;
} */

.img img {
  width: 160px;
  height: 40px;
  margin: 0.1rem 0.4em;
}
#heading {
  font-size: 1.3em;
  font-weight: 900;
  margin: 0.9em 0.3em;
}
.navbar {
  display: flex;
  margin-left: auto;
}
.navbar ul {
  display: flex;
}
.navicon {
  padding: 0px 8px;
  width: 0.8em;
}
.navbar ul li {
  display: flex;
  list-style: none;
  font-weight: bolder;
  align-items: center;
}
.navbar ul li a:hover {
  background-color: grey;
}
.navbar ul li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  font-size: 0.7rem;
}
.firstsection {
  position: relative;
  /* margin-top: 20rem; */
  width: 100%;
}
/* .banner{
    
    border: 2px solid red;
} */
.banner img {
  /* background: url('../content/background/banner.jpg'); */
  position: relative;
  height: 90vh;
  width: 100%;
  z-index: -1;
}
.bigtext p {
  position: absolute;
  top: 6.5em;
  font-size: 50px;
  margin: 1em 1em;
  font-weight: bolder;
  color: #357898;
  z-index: -1;
}
.aboutsection {
  padding-top: 1.5rem;
}
.about {
  display: flex;
  /* flex-direction: column; */
}
#aboutheading {
  margin-top: 4rem;
  font-size: 1.6em;
  text-align: center;
}
#aboutpara {
  text-align: center;
  font-size: 0.9em;
  margin: 1.2rem;
}
.boxes {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: auto;
}
.boxes h2 {
  font-size: 1.1rem;
  margin: 1em;
  text-align: center;
}
.box {
  width: 20em;
  /* border: 2px solid brown; */
  margin: 3rem auto;
}
.box img {
  display: block;
  height: 4em;
  margin: auto;
  padding: 10px;
}
.listpoints {
  display: flex;
}
.listpoints ul {
  margin: 0.5rem 1rem;
  align-items: center;
}
.listpoints ul li {
  font-size: 0.9rem;
  font-weight: 500;
  margin: 1rem 0rem;
  text-align: left;
}

/* Service Section */

.servicesection {
  padding: 5em 1.5em;
  display: flex;

  background-color: #87ceeb !important;
}

.serviceleft {
  margin: 1em;
}
.serviceleft h2 {
  text-align: left;
  margin-bottom: 1em;
  font-size: 1.5rem;
}
.serviceleft ul li {
  text-decoration: none;
  list-style: none;
  font-size: 0.9rem;
  line-height: 2em;
}
.serviceleft button {
  display: flex;
  font-size: 0.8rem;
  text-align: center;
  color: white;
  background-color: black;
  border: 0px;
  margin: 2em 0em;
  padding: 1.1em;
  justify-items: center;
}
.serviceleft button:hover {
  color: black;
  background-color: rgb(156, 156, 156);
  cursor: pointer;
  font-weight: bold;
}

#btnicon {
  width: 0.7em;
  margin: 2px 10px 0px 2px;
}
.serviceimg img {
  width: 33em;
  border-radius: 0.5em;
}
.sectionteam {
  padding-top: 8em;
}
.sectionteam h1 {
  text-align: center;
  font-size: 1.7rem;
}
.cards {
  display: flex;
  padding: 1em 1em;
}
.card {
  width: 24%;
  display: flex;
  flex-direction: column;
  margin: 2em auto;
  box-shadow: 2px 2px 5px grey;
}
.card img {
  width: 100%;
}
.Name {
  margin: 0.7em 0.3em;
  font-size: 1.5rem;
}
.subtext {
  margin: 0.5em;
  font-size: 0.8rem;
  color: gray;
}
.info,
#info_team1,
#info_team2,
#info_team3 {
  height: 6em;
  overflow: hidden;
  margin: 1em 0em;
}
#card4 {
  height: 115px;
}
.cardpara {
  margin: 0.5em;
  font-size: 0.8rem;
  line-height: 1.5rem;
  overflow: hidden;
}
/* .more{
    display: none;
} */
#more_team1,
#more_team2,
#more_team3,
#more {
  width: 40%;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: left;
  padding: 0em 0.5em;
  margin-top: auto;
  margin-bottom: 1em;
}
/* number section */
.numsectionmain {
  padding-top: 5em;
}
.numbersection {
  display: flex;
  background-color: #2196f3;
  width: 100%;
}
.block {
  margin: 3.3em auto;
}
.block span {
  display: block;
  color: white;
  text-align: center;
}
.num {
  font-size: 1.8em;
  font-weight: 600;
  margin: 0.5em auto;
  letter-spacing: 2px;
}
.numtext {
  font-size: 0.9em;
  font-weight: 500;
}

/* Associates Hospitals */

.Hospitalssection {
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.Hospitalssection h1 {
  font-size: 1.3rem;
  margin: 1.2em 0em;
}

.hcontainer {
  display: flex;
  padding: 1em;
}
.himage img {
  width: 35em;
  border-radius: 10px;
}
.blockm {
  margin: auto;
  display: flex;
  padding: 0em 2em;
}

.hcontainer ul li {
  text-align: left;
  font-size: 0.8em;
  line-height: 2em;
  font-weight: bold;
}
/* Our Strengths  */
.strenghtsmain {
  padding-top: 6em;
}
.ourstrength {
  padding: 3em 2em;
  background-color: #87ceeb;
}
.ourstrength h1 {
  display: block;
  margin: 1em 0em;
  font-size: 1.5rem;
}
.strengthlist {
  display: flex;
  margin: auto;
}
.listblock {
  width: 40%;
  margin: 0em auto;
}
/* .strlist{
    width: 100%;
} */
.listblock ul li {
  font-size: 0.8rem;
  line-height: 2em;
}

/* studies section */
.studies {
  padding: 110px 0px;
}
.studies h1 {
  margin: 1em 0em;
  text-align: center;
  font-size: 1.5rem;
}
.studies p {
  margin: 1em 0em;
  text-align: center;
}
.studiesinfo {
  display: flex;
  width: 100%;
}
.listcontainer {
  display: flex;
  margin: auto;
}
.stdlist {
  width: 100%;
  margin: 1em auto;
}

.ulblock {
  margin-left: 3em;
}
.ulblock li {
  font-size: 0.8rem;
  line-height: 2em;
}
.stdimg img {
  width: 35em;
  margin: 1em 1em;
  border-radius: 10px;
}
/* Contact */
.contactsection {
  background-color: #87ceeb;
  padding: 4em 0em;
}
.contactsection h1 {
  text-align: center;
  font-size: 1.3rem;
}
.details {
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  margin: 2em 2em;
}
.details img {
  width: 1.3em;
  margin: 0em 1em;
}
.btntotop img {
  margin-right: 4px;
  width: 1em;
}
.btntop {
  display: flex;
  padding: 2em 0em;
}
.btntop a {
  font-size: 0.8rem;
  text-align: center;
  border: 0px;
  margin: 2em auto;
  padding: 1.1em 1.5em;
  justify-items: center;
  text-decoration: none;
  color: black;
  background-color: #87ceeb;
}
.btntotop:hover {
  color: black;
  background-color: rgb(156, 156, 156);
  cursor: pointer;
  font-weight: bold;
}
