<section class="numsectionmain">
    <div class="numbersection">
        <div class="block">
            <span class="num">300+</span>
            <span class="numtext">Clinical Studies</span>
        </div>
        <div class="block">
            <span class="num">1700+</span>
            <span class="numtext">Hospital Beds</span>
        </div>
        <div class="block">
            <span class="num">50+</span>
            <span class="numtext">Pls</span>
        </div>
        <div class="block">
            <span class="num">100+</span>
            <span class="numtext">Skilled Employees</span>
        </div>
    </div>
</section>
