<section class="numsectionmain">
    <div class="numbersection">
        <div class="block">
            <span class="num">50+</span>
            <span class="numtext">Clinical Studies</span>
        </div>
        <div class="block">
            <span class="num">75+</span>
            <span class="numtext">Hospital Beds</span>
        </div>
        <div class="block">
            <span class="num">10+</span>
            <span class="numtext">Principal Investigator</span>
        </div>
    </div>
</section>
