<section id="about" class="aboutsection">
    <h1 id="aboutheading">Ojas Research</h1>
    <p id="aboutpara">We are a group of Healthcare professionals specialising in clinical research and various
        domains of it. Collectively we have 50 years of experience behind us. We are a site management organisation
        operating out of Pune and we have conducted more than 50 studies and trials so far. We are USFDA audited site.
        We are a reliable and dependable entity in western India.</p>
    <div class="about">

        <div class="boxes">

            <div class="box">
                <img src="icon/dna.png" alt="Our DNA">
                <h2>Our DNA</h2>
                <div class="listpoints">
                    <ul>
                        <li>We believe in being ethical in our business conduct.</li>
                        <li>We have expertise in conducting clinical studies in all the indications.</li>
                        <li>We are diligent and dedicated to our work</li>
                        <li>We have a prooven track record in timely delivery.</li>
                    </ul>
                </div>
            </div>
            <div class="box">
                <img src="icon/list.png" alt="Our Core Services">
                <h2>Our core values</h2>
                <div class="listpoints">
                    <ul>
                        <li>Committed to ethical research</li>
                        <li>Transparency in our operations</li>
                        <li>Loyal to our patients and our clients</li>
                        <li>Operational excellence driven by efficiency and effectiveness</li>
                        <li>Business conduct governed by loyalty, integrity and honesty.</li>
                    </ul>
                </div>
            </div>
            <div class="box">

                <img src="icon/hospital1.png" alt="Our Focus">
                <h2>Our Focus</h2>
                <div class="listpoints">
                    <ul>
                        <li>To provide quality Clinical Research services to CROs and Pharma Companies.</li>
                        <li>To maintain rigorous ethical standards in our business conduct.</li>
                        <li>Complete compliance to patient/subject safety and security and protection of participant
                            rights.</li>
                        <li>Harmonious relationships with the hospitals and investigators.</li>
                        <li>To provide one stop solution to the needs of sponsors in terms of execution of the
                            studies.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
