<section class="strenghtsmain">
    <div class="ourstrength">
        <h1>Our Strengths</h1>
        <div class="strengthlist">
            <div class="listblock">
                <ul class="strlist">
                    <li>Only professionally organised entity in site management in clinical research in India.</li>
                    <li>If you have a trial and study and need to conduct it seamlessly, you reach out to us.</li>
                    <li>9 multispeciality hospitals associated with us having more than 1700 Hospital beds.</li>
                    <li>Capability to conduct studies in all indications.</li>
                    <li>Team Ojas Research has acted as a resque site for many of the multicentric trials for eminent sponsors.</li>
                    <li>Strict adherence to DCGI guidelines.</li>
                </ul>
            </div>
            <div class="listblock">
                <ul class="strlist">
                    <li>Deep commitment to quality standards.</li>
                    <li>Innovative team model for site management in each hospital that is associated with us. Our
                        site
                        management team comprises of following, namely Center Manager, Site Coordinator, Medical
                        Coordinators, Quality Manager and Research Coordinators.</li>
                    <li>Successful USFDA inspections without any P 483 observations.</li>
                    <li>More then 50 clinical studies and trials conducted successfully for leading Indian Pharma
                        companies and Reputed Pharma MNCs.</li>
                    <li>We are reliable name in Western India for conducting efficient clinical trials with total
                        compliance to regulatory norms.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
