#heading {
    font-size: 1.3em;
    font-weight: 900;
    margin: 0.9em 0.3em;
}

.navbar {
    display: flex;
    margin-left: auto;
}

.navbar ul {
    display: flex;
}

.navicon {
    padding: 0px 8px;
    width: 0.8em;
}

.navbar ul li {
    display: flex;
    list-style: none;
    font-weight: bolder;
    align-items: center;
}

.navbar ul li a:hover {
    background-color: grey;
}

.navbar ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    font-size: 0.7rem;
}

.img img {
    width: 160px;
    height: 60px;
    margin: 0.1rem 0.4em;
}

.header {
    background: #fff !important;
    position: sticky;
    width: 100%;
    display: flex;
    box-shadow: 0px 3px 5px rgb(177, 176, 176);
    top: 0px;
    z-index: 1;
}