<div class="header">
    <div class="img">
        <img src="img/logo_ojas.jpeg" alt="logo">
    </div>
    <p id="heading">Ojas Research</p>
    <div class="navbar">
        <ul>
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#team"><img src="icon/team1.png" alt="" class="navicon"> TEAM</a></li>
            <li><a href="#hospitals"><img src="icon/hospital1.png" alt="" class="navicon">HOSPITALS</a></li>
            <li><a href="#studies"><img src="icon/Studies1.png" alt="" class="navicon">STUDIES</a></li>
            <li><a href="#contact"><img src="icon/contact1.png" alt="" class="navicon">CONTACT</a></li>
        </ul>
    </div>

</div>
