<section id="contact" class="contactmain">
    <div class="contactsection">
        <h1>CONTACT</h1>
        <div class="contactdetails">

            <p class="details"> <img src="icon/pin.png" alt=""><b>Clinithink Services</b>
                &nbsp; 1104,Astonia Royal,
                Narhe, Katraj, Pune.</p>
            <p class="details"> <img src="icon/phone.png" alt="">Phone: +91 9970004295</p>
            <p class="details"> <img src="icon/contact1.png" alt="">Email: contact&#64;ucrsindia.com</p>

        </div>
    </div>
</section>
