<section id="contact" class="contactmain">
    <div class="contactsection">
        <h1>CONTACT</h1>
        <div class="contactdetails">
            <p class="details">
                <img src="icon/pin.png" alt="">
                <b>Ojas Research</b>
                &nbsp; Cinical Research Dept., Ojas Multispeciality Hospital,
                Ravet, Pune.</p>
            <p class="details"> <img src="icon/phone.png" alt="">Phone: +91 9920970780</p>
            <p class="details"> <img src="icon/contact1.png" alt="">Email: leena.ojas&#64;gmail.com</p>
        </div>
    </div>
</section>
