<div class="header">
    <div class="img">
        <img src="img/logo1.png" alt="logo">
    </div>
    <p id="heading">Clinithink Services</p>
    <div class="navbar">
        <ul>
            <li><a href="#about">ABOUT</a></li>
            <li><a href="#team"><img src="icon/team1.png" alt="" class="navicon"> TEAM</a></li>
            <li><a href="#hospitals"><img src="icon/hospital1.png" alt="" class="navicon">HOSPITALS</a></li>
            <li><a href="#studies"><img src="icon/Studies1.png" alt="" class="navicon">STUDIES</a></li>
            <li><a href="#contact"><img src="icon/contact1.png" alt="" class="navicon">CONTACT</a></li>
        </ul>
    </div>

</div>
<section id="home" class="banner">
    <div class="bannerimg">
        <img src="background/background.jpg" alt="">
    </div>
    <div class="bigtext">
        <p>Bringing research protocols into reality</p>
    </div>
</section>

<div class="firstsection"></div>
<section id="about" class="aboutsection">
    <h1 id="aboutheading">Clinithink Services</h1>
    <p id="aboutpara">We are a group of Healthcare professionals specialising in clinical research and various
        domains of it. Collectively we have 50 years of experience behind us. We are a site management organisation
        operating out of Pune and we have conducted more than 300 studies and trials so far. We have faced multiple
        regulatory inspections including USFDA. We are a reliable and dependable entity in western India.</p>
    <div class="about">

        <div class="boxes">

            <div class="box">
                <img src="icon/dna.png" alt="Our DNA">
                <h2>Our DNA</h2>
                <div class="listpoints">
                    <ul>
                        <li>We believe in being ethical in our business conduct.</li>
                        <li>We have expertise in conducting clinical studies in all the indications.</li>
                        <li>We are diligent and dedicated to our work</li>
                        <li>We have a prooven track record in timely delivery.</li>
                    </ul>
                </div>
            </div>
            <div class="box">
                <img src="icon/list.png" alt="Our Core Services">
                <h2>Our core values</h2>
                <div class="listpoints">
                    <ul>
                        <li>Committed to ethical research</li>
                        <li>Transparency in our operations</li>
                        <li>Loyal to our patients and our clients</li>
                        <li>Operational excellence driven by efficiency and effectiveness</li>
                        <li>Business conduct governed by loyalty, integrity and honesty.</li>
                    </ul>
                </div>
            </div>
            <div class="box">

                <img src="icon/hospital1.png" alt="Our Focus">
                <h2>Our Focus</h2>
                <div class="listpoints">
                    <ul>
                        <li>To provide quality Clinical Research services to CROs and Pharma Companies.</li>
                        <li>To maintain rigorous ethical standards in our business conduct.</li>
                        <li>Complete compliance to patient/subject safety and security and protection of participant
                            rights.</li>
                        <li>Harmonious relationships with the hospitals and investigators.</li>
                        <li>To provide one stop solution to the needs of sponsors in terms of execution of the
                            studies.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="servicesection">
    <div class="serviceleft">
        <h2>Services</h2>
        <div class="servicelistleft">
            <ul>
                <li>Conduct of clinical trials</li>
                <li>End-to-end management of investigator initiated studies.</li>
                <li>Protocol writing</li>
                <li>ICF writing.</li>
                <li>Ethics committee co-ordination</li>
                <li>Seamless Handling of multicentric studies of a single sponsor. You have the comfort of dealing
                    with only one entity for your multiple locations</li>
            </ul>
        </div>
        <button><img id="btnicon" src="icon/menu.png" alt=""> Associate Hospitals</button>
    </div>
    <div class="serviceimg">
        <img src="background/services.jpg" alt="serviceimg">
    </div>
</section>
<section id="team" class="sectionteam">
    <h1>The Team</h1>
    <div class="cards">
        <div class="card">
            <img src="img/team1.jpg" alt="">
            <span class="Name">Dr (Major) Sachin Mane</span>
            <span class="subtext">Founder & Director Medical Operations</span>
            <div class="info" id="info_team1">
                <p class="cardpara">Healthcare professional with 22 year's experience in various operational areas
                    of hospitals including Clinical Research. He has worked in Senior Leadership Roles for
                    India’shealthcare providers like Wockhardt Hospitals and Sahyadri Hospitals.
                </p>
            </div>
            <button type="button" id="more_team1">Read More</button>
        </div>

        <div class="card">
            <img src="img/team2.jpg" alt="">
            <span class="Name">Mr Deepak Bagde</span>
            <span class="subtext">Founder & Director Operations</span>
            <div class="info" id="info_team2">
                <p class="cardpara">With 11 year's experience in healthcare and hospital administration, he has
                    executed
                    development of Regenerative Therapy Module and established stem cell banking
                    business in India and South East Asia. Mr Bagde has established a CRO for standardisation of
                    generic molecules (Bioavailability and Bioequivalence Study Center). He has worked
                    extensively
                    in the development of new molecules for Phase I and Phase II studies.</p>
            </div>
            <button type="button" id="more_team2">Read More</button>
        </div>
        <div class="card">
            <img src="img/team3.png" alt="">
            <span class="Name">Dr Smita Mane</span>
            <span class="subtext">Founder & Director Corporate Communication</span>
            <div id="card4" class="info">
                <p class="cardpara">Dr Smita Mane is a medical professional with rich experience of clinical studies and trials especially in vaccine and paediatric vaccine trials. After finishing her medical degree, she worked in various capacities as a doctor in hospitals. She stood second in Pune universities CRCDM course. Dr Smita has deep experience in vaccine studies and has personally worked in more than 30 vaccine studies of national and multinational pharma and biotech companies. After working for 10 long years in research department of  Bharati hospital and medical Research centre's, medical college Hospital with more than 1000 beds, she is in charge of our vaccine program and responsible for delivering data quality to the sponsors./p>
            </div>
            <button type="button" id="more_team3">Read More</button>
        </div>
    </div>
</section>
<!-- Number section -->
<section class="numsectionmain">
    <div class="numbersection">
        <div class="block">
            <span class="num">300+</span>
            <span class="numtext">Clinical Studies</span>
        </div>
        <div class="block">
            <span class="num">1700+</span>
            <span class="numtext">Hospital Beds</span>
        </div>
        <div class="block">
            <span class="num">50+</span>
            <span class="numtext">Pls</span>
        </div>
        <div class="block">
            <span class="num">100+</span>
            <span class="numtext">Skilled Employees</span>
        </div>


    </div>
</section>
<!-- Associate Hospitals -->
<section id="hospitals" class="Hospitalssection">
    <h1>Associate Hospitals</h1>
    <p>Currently we are running nine sites in Western India</p>

    <div class="hcontainer">
        <div class="himage blockm">
            <img src="background/hospitals.jpg" alt="">
        </div>

        <div class="locationlist blockm">
            <ul>
                <li>Joshi Hospital, Deccan, Pune</li>
                <li>Ratna Memorial Hospital, Senapati Bapat Road, Pune.</li>
                <li>Global Hospital, Parvati, Pune.</li>
                <li>Sassoon General Hospital, Pune. (It is a teaching hospital)</li>
                <li>Mahatma Gandhi Memorial Hospital and Reasearch Center, Aurangabad. (It is a teaching hospital)
                </li>
                <li>Ishwar Hospital, Aurangabad.</li>
                <li>Krishna Hospital and Research Center, Karad.(It is a teaching hospital)</li>
                <li>Lifepoint Hospital, Wakad, Pune.</li>
                <li>Medipoint Hospital, Aundh, Pune.</li>
            </ul>
        </div>
    </div>

</section>
<section class="strenghtsmain">
    <div class="ourstrength">
        <h1>Our Strengths</h1>
        <div class="strengthlist">
            <div class="listblock">
                <ul class="strlist">
                    <li>Only professionally organised entity in site management in clinical research in India.</li>
                    <li>If you have a trial and study and need to conduct it seamlessly, you reach out to us and we
                        will
                        do it</li>
                    <li>9 multispeciality hospitals associated with us having more than 1700 Hospital beds.</li>
                    <li>Capability to conduct studies in all indications.</li>
                    <li>Team Clinithink Services has acted as a resque site for many of the multicentric trials for eminent
                        sponsors.
                    </li>
                    <li>Strict adherence to DCGI guidelines.</li>

                </ul>
            </div>
            <div class="listblock">
                <ul class="strlist">
                    <li>Deep commitment to quality standards.</li>
                    <li>Innovative team model for site management in each hospital that is associated with us. Our
                        site
                        management team comprises of following, namely Center Manager, Site Coordinator, Medical
                        Coordinators, Quality Manager and Research Coordinators.</li>
                    <li>Successful USFDA inspections without any P 483 observations.</li>
                    <li>More then 300 clinical studies and trials conducted successfully for leading Indian Pharma
                        companies and Reputed Pharma MNCs.</li>
                    <li>We are reliable name in Western India for conducting efficient clinical trials with total
                        compliance to regulatory norms.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="studies" class="studies">
    <h1>Studies</h1>
    <p>Capability to conduct studies in following indications</p>

    <div class="studiesinfo">
        <div class="listcontainer">
            <div class="stdlist ">
                <ul class="ulblock">
                    <li>Internal Medicine</li>
                    <li>Oncology</li>
                    <li>Hematology</li>
                    <li>Respiratory Diseases</li>
                    <li>Cardiology</li>
                    <li>Dermatology</li>
                    <li>Metabolic Diseases</li>
                    <li>Infectious Diseases</li>
                    <li>Bone Disorders</li>

                </ul>
            </div>
            <div class="stdlist">
                <ul class="ulblock">
                    <li>Orthopedics</li>
                    <li>Rheumatology</li>
                    <li>GI Disorders</li>
                    <li>Pain Management</li>
                    <li>Gynaecology & Reproductive Medicine</li>
                    <li>Urology</li>
                    <li>Nephrology</li>
                    <li>Pediatrics</li>
                </ul>
            </div>
        </div>
        <div class="stdimg">
            <img src="background/studies.jpg" alt="">
        </div>
    </div>
</section>
<section id="contact" class="contactmain">
    <div class="contactsection">
        <h1>CONTACT</h1>
        <div class="contactdetails">

            <p class="details"> <img src="icon/pin.png" alt=""><b>Clinithink Services</b>
                &nbsp; 1104,Astonia Royal,
                Narhe, Katraj, Pune.</p>
            <p class="details"> <img src="icon/phone.png" alt="">Phone: +91 9970004295</p>
            <p class="details"> <img src="icon/contact.html" alt="">Email: contact&#64;ucrsindia.com</p>

        </div>
    </div>
    <div class="btntop">
        <a class="btntotop" href="#home"><img src="icon/top.png" alt=""> To the top</a>
    </div>

</section>

<script>
    // Get references to the button and the hidden text element
    var more_team1 = document.getElementById('more_team1');
    var info_team1 = document.getElementById('info_team1');
    var index_info_team1 = 0
    // Add a click event listener to the button
    more_team1.addEventListener('click', function () {
        // console.log("more clicked")
        // Check the current display property of the hidden text
        // console.log("index_info_team1 >>",index_info_team1)
        if (info_team1.style.height != '6em' && index_info_team1 > 0 ) {
            // If it's hidden, show it
            info_team1.style.height = '6em';
            index_info_team1=index_info_team1 + 1
        } else {
            // If it's visible, hide it
            info_team1.style.height = 'auto';
            index_info_team1=index_info_team1 + 1
        }
    });

    var more_team2 = document.getElementById('more_team2');
    var info_team2 = document.getElementById('info_team2');
    var index_info_team2 = 0

    // Add a click event listener to the button
    more_team2.addEventListener('click', function () {
        // console.log("more clicked")
        // Check the current display property of the hidden text
        if (info_team2.style.height != '6em' && index_info_team2 > 0) {
            // If it's hidden, show it
            info_team2.style.height = '6em';
            index_info_team2=index_info_team2 + 1
        } else {
            // If it's visible, hide it
            info_team2.style.height = 'auto';
            index_info_team2=index_info_team2 + 1
        }
    });

    var more_team3 = document.getElementById('more_team3');
    var card4 = document.getElementById('card4');
    var index_info_team3 = 0

    // Add a click event listener to the button
    more_team3.addEventListener('click', function () {
        // console.log("more clicked")
        // Check the current display property of the hidden text
        if (card4.style.height != '6em' && index_info_team3 > 0) {
            // If it's hidden, show it
            card4.style.height = '6em';
            index_info_team3=index_info_team3 + 1
        } else {
            // If it's visible, hide it
            card4.style.height = 'auto';
            index_info_team3=index_info_team3 + 1
        }
    });

</script>
