<app-navbar></app-navbar>
<section id="home" class="banner">
    <div class="bannerimg">
        <img src="background/background.jpg" alt="">
    </div>
    <div class="bigtext">
        <p>Bringing research protocols into reality</p>
    </div>
</section>

<div class="firstsection"></div>
<app-about></app-about>
<app-services></app-services>
<app-team></app-team>
<app-achivements></app-achivements>
<app-hospitals></app-hospitals>
<app-stengths></app-stengths>
<app-studies></app-studies>
<app-contact></app-contact>

<div class="btntop">
    <a class="btntotop" href="#home"><img src="icon/top.png" alt=""> To the top</a>
</div>
