<section class="servicesection">
    <div class="serviceleft">
        <h2>Services</h2>
        <div class="servicelistleft">
            <ul>
                <li>Conduct of clinical trials</li>
                <li>End-to-end management of investigator initiated studies.</li>
                <li>Protocol writing</li>
                <li>ICF writing.</li>
                <li>Ethics committee co-ordination</li>
                <li>Seamless Handling of multicentric studies of a single sponsor. You have the comfort of dealing
                    with only one entity for your multiple locations</li>
            </ul>
        </div>
    </div>
    <div class="serviceimg">
        <img src="background/services.jpg" alt="serviceimg">
    </div>
</section>
