<section id="studies" class="studies">
    <h1>Studies</h1>
    <p>Capability to conduct studies in following indications</p>

    <div class="studiesinfo">
        <div class="listcontainer">
            <div class="stdlist ">
                <ul class="ulblock">
                    <li>Internal Medicine</li>
                    <li>Oncology</li>
                    <li>Hematology</li>
                    <li>Respiratory Diseases</li>
                    <li>Cardiology</li>
                    <li>Dermatology</li>
                    <li>Metabolic Diseases</li>
                    <li>Infectious Diseases</li>
                    <li>Bone Disorders</li>

                </ul>
            </div>
            <div class="stdlist">
                <ul class="ulblock">
                    <li>Orthopedics</li>
                    <li>Rheumatology</li>
                    <li>GI Disorders</li>
                    <li>Pain Management</li>
                    <li>Gynaecology & Reproductive Medicine</li>
                    <li>Urology</li>
                    <li>Nephrology</li>
                    <li>Pediatrics</li>
                </ul>
            </div>
        </div>
        <div class="stdimg">
            <img src="background/studies.jpg" alt="">
        </div>
    </div>
</section>
