.Hospitalssection {
    padding-top: 5em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hcontainer {
    display: flex;
    padding: 1em;
}

.himage img {
    width: 35em;
    border-radius: 10px;
}

.blockm {
    margin: auto;
    display: flex;
    padding: 0em 2em;
}

.rightside {
    margin: auto;
    display: block;
}