<section id="hospitals" class="Hospitalssection">
    <h1>Associate Hospitals</h1>
    <p>Currently we are running nine sites in Western India</p>

    <div class="hcontainer">
        <div class="himage blockm">
            <img src="background/hospitals.jpg" alt="">
        </div>

        <div class="locationlist blockm">
            <ul>
                <li>Joshi Hospital, Deccan, Pune</li>
                <li>Ratna Memorial Hospital, Senapati Bapat Road, Pune.</li>
                <li>Global Hospital, Parvati, Pune.</li>
                <li>Sassoon General Hospital, Pune. (It is a teaching hospital)</li>
                <li>Mahatma Gandhi Memorial Hospital and Reasearch Center, Aurangabad. (It is a teaching hospital)
                </li>
                <li>Ishwar Hospital, Aurangabad.</li>
                <li>Krishna Hospital and Research Center, Karad.(It is a teaching hospital)</li>
                <li>Lifepoint Hospital, Wakad, Pune.</li>
                <li>Medipoint Hospital, Aundh, Pune.</li>
            </ul>
        </div>
    </div>
</section>
