<section id="team" class="sectionteam">
    <h1>The Team</h1>
    <div class="cards">
        <div class="card">
            <img src="img/team1.jpg" alt="">
            <span class="name">Dr (Major) Sachin Mane</span>
            <span class="subtext">Founder & Director - Medical Operations</span>
            <div class="info" id="info_team1">
                <p class="cardpara">Healthcare professional with 22 year's experience in various operational areas
                    of hospitals including Clinical Research. He has worked in Senior Leadership Roles for
                    India’shealthcare providers like Wockhardt Hospitals and Sahyadri Hospitals.
                </p>
            </div>
            <button type="button" id="more_team1" (click)="onMoreClick('info_team1')">Read More</button>
        </div>

        <div class="card">
            <img src="img/team2.jpg" alt="">
            <span class="name">Mr Deepak Bagde</span>
            <span class="subtext">Founder & Director - Operations</span>
            <div class="info" id="info_team2">
                <p class="cardpara">With 11 year's experience in healthcare and hospital administration, he has
                    executed
                    development of Regenerative Therapy Module and established stem cell banking
                    business in India and South East Asia. Mr Bagde has established a CRO for standardisation of
                    generic molecules (Bioavailability and Bioequivalence Study Center). He has worked
                    extensively
                    in the development of new molecules for Phase I and Phase II studies.</p>
            </div>
            <button type="button" id="more_team2" (click)="onMoreClick('info_team2')">Read More</button>
        </div>
        <div class="card">
            <img src="img/leena.jpeg" alt="">
            <span class="name">Leena Rathi</span>
            <span class="subtext">Founder & Managing Director</span>
            <div class="info" id="info_team3">
                <p class="cardpara">Dr Smita Mane is a medical professional with rich experience of clinical studies and
                    trials especially in vaccine and paediatric vaccine trials. After finishing her medical degree,
                    she worked in various capacities as a doctor in hospitals. She stood second in Pune universities CRCDM course.
                    Dr Smita has deep experience in vaccine studies and has personally worked in more than 30 vaccine studies of national
                    and multinational pharma and biotech companies. After working for 10 long years in research department of
                    Bharati hospital and medical Research centre's, medical college Hospital with more than 1000 beds,
                    she is in charge of our vaccine program and responsible for delivering data quality to the sponsors.</p>
            </div>
            <button type="button" id="more_team3" (click)="onMoreClick('info_team3')">Read More</button>
        </div>
    </div>
</section>
