<section id="team" class="sectionteam">
    <h1>The Team</h1>
    <div class="cards">
        <div class="card">
            <img src="img/leena.jpeg" alt="">
            <span class="name">Leena Rathi</span>
            <span class="subtext">Founder & Director - Operations</span>
            <div class="info" id="info_team3">
                <p class="cardpara">Leena Rathi has a postgraduate degree in pharmacy with a specialization in pharmacology
                    and over 12 years of extensive industry experience. She has successfully overseen more than 50 clinical
                    trials across diverse therapeutic indications. Leena has faced multiple audits from global regulatory
                    authorities, including USFDA, EMEA, and MHRA, consistently maintaining high standards of compliance.
                    Notably, she cleared a USFDA audit with zero observations, highlighting her expertise and dedication to
                    regulatory excellence. Her vast experience ensures the seamless execution of clinical trials while adhering
                    to rigorous industry guidelines.</p>
            </div>
            <button type="button" id="more_team3" (click)="onMoreClick('info_team3')">Read More</button>
        </div>
        <div class="card">
            <img src="img/team1.jpg" alt="">
            <span class="name">Dr (Major) Sachin Mane</span>
            <span class="subtext">Founder & Director - Medical Operations</span>
            <div class="info" id="info_team1">
                <p class="cardpara">Healthcare professional with 22 year's experience in various operational areas
                    of hospitals including Clinical Research. He has worked in Senior Leadership Roles for
                    India’shealthcare providers like Wockhardt Hospitals and Sahyadri Hospitals.
                </p>
            </div>
            <button type="button" id="more_team1" (click)="onMoreClick('info_team1')">Read More</button>
        </div>
        <div class="card">
            <img src="img/team2.jpg" alt="">
            <span class="name">Mr Deepak Bagde</span>
            <span class="subtext">Founder & Director - Operations</span>
            <div class="info" id="info_team2">
                <p class="cardpara">With 11 year's experience in healthcare and hospital administration, he has
                    executed
                    development of Regenerative Therapy Module and established stem cell banking
                    business in India and South East Asia. Mr Bagde has established a CRO for standardisation of
                    generic molecules (Bioavailability and Bioequivalence Study Center). He has worked
                    extensively
                    in the development of new molecules for Phase I and Phase II studies.</p>
            </div>
            <button type="button" id="more_team2" (click)="onMoreClick('info_team2')">Read More</button>
        </div>
    </div>
</section>
